@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
.nav {
  background-color: #f8df1f;
}
.nav a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
  text-transform: capitalize;
}
.nav a span {
  color: red;
  text-transform: uppercase;
}
img {
  display: block;
  width: 90%;
  max-width: 200px;
  margin: auto;
}
.jumbotron {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 56, 56, 0.33)), to(rgba(59, 56, 56, 0.67))), url("../img/banner-bg.png");
  background: linear-gradient(rgba(59, 56, 56, 0.33), rgba(59, 56, 56, 0.67)), url("../img/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 10%;
}
.jumbotron img {
  width: 100%;
  max-width: 500px;
}
.btn {
  background-color: #f8df1f;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
}
.grey {
  background: #f3f3f3;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
}
h2 span {
  color: #ee2f2f;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
}
footer {
  background-color: #050500;
  border-top: solid #f8df1f 10px;
}
