@import "variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
// MIXINS
#fonts() {
  .heading {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: @black;
    font-weight: 500;
    text-transform: uppercase;
  }
  .link {
    #fonts.heading();
    font-size: 18px;
  }
}
// CSS
.nav{
  background-color: @yellow;
  a{
    #fonts.link();
    text-transform: capitalize;
    span{
      color: red;
      text-transform: uppercase;
    }
  }
}
img{
  display: block;
  width: 90%;
  max-width: 200px;
  margin: auto;
}
.jumbotron{
  background: linear-gradient(rgba(59, 56, 56, .33), rgba(59, 56, 56, .67)), url("../img/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 10%;
  img{
    width: 100%;
    max-width: 500px;
  }
}
.btn{
  background-color: @yellow;
  #fonts.link();
}
.grey{
  background: @grey;
}
h2{
  #fonts.heading();
  span{
    color: @red;
  }
}
p{
  #fonts.link();
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
}
footer{
  background-color: @black;
  border-top: solid @yellow 10px;
}
